.daidien{
    border:0.25px solid gray;
    width:960px;
    height:287px;
    margin: 120px auto;
    background-color: aquamarine;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
img{
    width:30%;
    float:right;
    object-fit: contain;
}

li{
    font-size:40px;
}